<%- include("include/header.ejs") %>


<%=data %>
<!-- <script>
  console.log(document.cookie);
  if(document.cookie){
    document.getElementById('login').style.display = 'none';
    document.getElementById('signup').style.display = 'none';
    
  }
  
</script> -->


<div id="container">Container</div>
<button class="m-2 bg-blue-500 text-white p-0.5 px-3 rounded btn-dummy">CLick Me!</button>
