<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">  
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<body>
    <div class="w-screen shadow-md flex flex-wrap">
        <div class="logo mr-96">
           <a href="http://localhost:5500/"> <img class=" h-25 w-36" src="img/SastaCodeChefLogo.png" alt="SastaCodeChefLogo">
           </a>
        </div>

        <div class="px-6 pt-8 mx-28 font-light">
            <ul class="flex space-x-5 text-base  ">
                <a href="http://localhost:5500/learn" > <li>Learn</li> </a>
               <a href="http://localhost:5500/questions" > <li>Code</li> </a>
               <a href="http://localhost:5500/submissions" > <li>Submissions</li> </a>

            </ul>
        </div>


        <div id="logsin" class="login-signup pt-8 text-base font-light space-x-5">
            <a id="login" class=" btn-login p-1 border-2" href="http://localhost:5500/login">Login</a>

            <a id="signup" class=" btn-signup p-1 border-2" href="http://localhost:5500/signup">SignUp</a>

            <a  id="btn-logout" >Logout</a>

        </div>


        <div id="profile" class="profile mt-5 ml-32  ">
            <a href="http://localhost:5500/myprofile">
                <img id="profile-img" class="profile-img"
                height="40vh" width="40vh"
                src="img/profile.png" alt="profile image">
            </a>            

            <div class="profile-dropdown">
                <ul>
                <li> <a href = "http://localhost:5500/myprofile" > My Profile</a> </li>
                <li> <a href = "http:localhost:5500/edit-profile" > Edit Profile</a></li>
                <li class="fa fa-sign-out"> <a href="http://localhost:5500/logout" >Logout</a></li>
                </ul>
            </div>

        </div>


    </div>



    <script>

       

        if(document.cookie){
            document.getElementById('login').style.display = 'none'
            document.getElementById('signup').style.display = 'none';
            document.getElementById("btn-logout").style.display="initial";
            document.getElementById("profile-img").style.display="initial";
            document.getElementById("profile").style.display="inline-block"
        }

        </script>

        
</body>
</html>